<div class="column is-3 is-offset-1">
  <div class="card-body">
    <h3 class="title is-5 has-text-grey-light">Community</h3>

    <ul class="list-group list-group-flush">
      <% @communities.each do |c| %>
        <li class="list-group-item"><%= link_to c.community, c %></li>
      <% end %>
    </ul>
    <br/>
    <% if has_role?(:admin) %>
      <%= link_to 'communities', new_community_path, class:'button is-info' %>
    <% end %>

    <%= paginate @communities %>

  </div>
